header {
  background-image: url(https://media.phillyvoice.com/media/images/rawpixel-618738-unsplash.2e16d0ba.fill-735x490.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
}
header img {
  border-radius: 50%;
}
.quote {
  display: flex;
  width: 80%;
  margin: 0 auto;}
  h3 {
    
    margin-top: 5px;
    font-size: 50px;  
    color: blueviolet;
    text-align: center;
    clear: both;
    font-style:italic;
  }
  #flex{
    display:flex;
    border:1px 
    border-radius: 50px;
    }
    .mauano{
      background-color:whitesmoke;
    }
    .footer{
      font-size: 60px;
      padding-top: 10px;
      border:5px solid black;
      border-radius:60px;
    }
  