header {
  background-image: url(https://media.phillyvoice.com/media/images/rawpixel-618738-unsplash.2e16d0ba.fill-735x490.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
}
header img {
  border-radius: 50%;
}
.quote {
  display: flex;
  width: 80%;
  margin: 0 auto;